<div class="page-container">
    <div class="svg-container">
        <svg id="wavy">
            <%
=begin%>
 <path class="wavy-path path1" d="M20,20"></path>
            <path class="wavy-path path2" d="M20,20"></path>
            <path class="wavy-path path3" d="M20,20"></path>
            <path class="wavy-path path4" d="M20,20"></path>
            <path class="wavy-path path5" d="M20,20"></path>
            <path class="wavy-path path6" d="M20,20"></path>
            <path class="wavy-path path7" d="M20,20"></path>
            <path class="wavy-path path8" d="M20,20"></path>
            <path class="wavy-path path9" d="M20,20"></path>
            <path class="wavy-path path10" d="M20,20"></path> 
<%
=end%>
        </svg>
    </div>
    <div class="large-box">
        <div class="small-box">
            <div class="smallest-box">
                <span>I'm Max!</span>
                <div class="link-box">
                    <div class="projects-link-container"><%= link_to "projects", projects_path, class: "projects-link" %></div>
                    <br>
                    <div class="resume-link-container"><%= link_to "resume", resume_path, class: "resume-link" %></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag( 'wavy.js' ) %>


