
<div class="container">
    <%
=begin%>
 <div class="top"></div>
    <object class="svg" type="image/svg+xml" data="buoy3.svg">
        <img src="buoy3.svg">
    </object>
    <div class="bottom"></div>
    <p class="moby">Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people’s hats off—then, I account it high time to get to sea as soon as I can.</p> 
<%
=end%>
    <div class="projects-container">
        <%= link_to "<home", root_path, class: "home-button"  %>
        <div class="projects">
            <div class="project" id="project1"></div>
            <div class="project" id="project2"></div>
            <div class="project" id="project3"></div>
        </div>
    </div>
</div>
