
<div class="container">
    <%
=begin%>
 <div class="top"></div>
    <object class="svg" type="image/svg+xml" data="buoy3.svg">
        <img src="buoy3.svg">
    </object>
    <div class="bottom"></div>
    <p class="moby">Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people’s hats off—then, I account it high time to get to sea as soon as I can.</p> 
<%
=end%>
    <div class="projects-container">
        <%= link_to "<home", root_path, class: "home-button"  %>
        <div class="projects">
            <div class="project-container">
                <div class="project" id="project1">
                        
                        <div class=flame-wrapper>
                            <div class="flame red"></div>
                            <div class="flame orange"></div>
                            <div class="flame gold"></div>
                            <div class="flame white"></div>
                            <div class="flame blue"></div>
                            <div class="flame black"></div>
                            <div class="base blue"></div>
                            <div class="base black"></div>
                        </div> 
                    <div class="stove-wrapper"><img src="kitchen.svg" width="200" height="200"></div>
                </div>
            </div>
            <div class="project-container">
                <div class="project" id="project2">
                    <div class="grid">
                        <div class="grid-col">
                            <div id="el-1" class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                        </div>
                        <div class="grid-col">
                            <div class="grid-el"></div>
                            <div id="el-2" class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                        </div>
                        <div class="grid-col">
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div id="el-3" class="grid-el"></div>
                            <div class="grid-el"></div>
                        </div>
                        <div class="grid-col">
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div class="grid-el"></div>
                            <div id="el-4" class="grid-el"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-container">
                <div class="project" id="project3">
                    <svg class="swords-svg" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="195" height="195" viewBox="0 0 512.000000 512.000000"
                        preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                        fill="#000000" stroke="none">
                        <path d="M580 4308 l0 -363 676 -676 676 -676 -192 -199 c-106 -109 -214 -221
                        -241 -249 l-49 -50 -86 85 -85 85 -44 -48 c-133 -146 -149 -397 -34 -540 l32
                        -39 -328 -328 -329 -329 -30 17 c-45 24 -142 22 -186 -3 -43 -25 -80 -94 -80
                        -150 1 -72 30 -112 221 -301 200 -197 220 -210 311 -202 120 12 182 134 129
                        254 l-22 48 324 324 325 325 44 -31 c79 -54 159 -75 269 -70 115 6 183 33 259
                        104 l51 47 -45 46 -46 46 248 248 247 247 248 -248 247 -248 -40 -39 c-22 -21
                        -40 -45 -40 -51 0 -21 82 -85 150 -118 61 -29 72 -31 180 -31 110 0 118 1 180
                        33 36 18 77 40 92 50 l28 17 321 -321 322 -322 -22 -44 c-28 -58 -28 -135 0
                        -189 37 -73 148 -101 234 -59 25 12 111 91 222 202 169 171 181 186 191 233
                        34 162 -99 272 -248 204 l-44 -20 -324 324 -324 324 35 54 c52 79 70 153 65
                        263 -3 76 -9 102 -34 156 -17 36 -51 87 -74 113 l-43 49 -82 -82 -83 -82 -158
                        163 c-88 90 -197 204 -244 252 l-84 88 672 672 672 672 0 363 0 362 -334 0
                        -335 0 -667 -690 c-367 -379 -670 -690 -673 -690 -3 0 -307 311 -676 690
                        l-670 690 -337 0 -338 0 0 -362z m1272 -429 c359 -369 654 -675 656 -679 2 -5
                        -40 -53 -92 -107 l-96 -98 -87 90 c-324 336 -1147 1175 -1152 1175 -4 0 -24
                        -18 -46 -40 l-39 -40 75 -77 c41 -43 317 -327 614 -631 297 -305 541 -557 543
                        -561 1 -4 -44 -57 -102 -117 l-104 -109 -159 155 c-87 85 -384 380 -660 655
                        l-503 500 0 271 c0 149 3 274 7 277 3 4 115 7 249 7 l242 0 654 -671z m2628
                        393 l0 -277 -1236 -1235 -1235 -1235 -234 240 c-129 132 -233 243 -232 246 1
                        5 2185 2263 2413 2497 l41 42 242 0 241 0 0 -278z m-1060 -2010 c129 -133 236
                        -246 238 -250 1 -4 -106 -115 -238 -247 l-240 -240 -247 248 -248 247 106 105
                        105 106 195 -205 c106 -112 199 -204 204 -205 6 -1 28 17 50 39 l38 39 -141
                        148 c-77 81 -157 164 -177 183 -20 19 -46 48 -57 63 l-21 29 94 94 c52 52 96
                        93 99 92 3 -2 112 -112 240 -246z m-1410 -913 c0 -18 -90 -44 -155 -44 -114 0
                        -141 18 -367 249 -236 240 -253 266 -246 384 3 46 12 91 22 111 l18 34 364
                        -364 c200 -200 364 -367 364 -370z m1924 684 c27 -57 32 -140 11 -204 -16 -48
                        -39 -75 -224 -262 -218 -221 -261 -253 -351 -264 -53 -6 -134 10 -165 33 -18
                        14 -1 33 340 374 198 198 362 360 366 360 3 0 13 -17 23 -37z m-2531 -571 l77
                        -77 -135 -135 -135 -135 0 160 0 159 52 53 c29 29 55 53 58 53 3 0 40 -35 83
                        -78z m2525 35 l42 -43 0 -159 0 -160 -125 125 -125 125 77 77 c43 43 80 78 83
                        78 3 0 25 -19 48 -43z m240 -241 l62 -64 0 -158 0 -158 -72 71 -73 72 3 151
                        c2 82 7 150 11 150 4 0 36 -29 69 -64z m-3062 -228 c9 -2 -13 -30 -66 -83
                        l-80 -80 0 160 0 159 63 64 62 63 3 -140 c2 -115 5 -140 18 -143z m3349 -218
                        c-108 -108 -111 -105 -107 106 l3 158 92 -92 92 -92 -80 -80z m-3609 -42 c14
                        -3 14 -5 -3 -20 -18 -17 -22 -14 -98 62 l-80 80 80 80 80 81 3 -140 c2 -118 5
                        -140 18 -143z m-178 -60 c100 -101 182 -190 182 -197 0 -16 -46 -61 -62 -61
                        -8 0 -101 87 -207 194 -173 174 -192 196 -182 214 17 32 51 53 70 42 9 -5 98
                        -91 199 -192z m4114 175 c37 -33 24 -53 -170 -246 -104 -103 -195 -187 -203
                        -187 -22 0 -61 45 -57 64 1 9 84 99 183 200 187 190 208 204 247 169z"/>
                        <path d="M3060 3184 c-575 -590 -1090 -1121 -1144 -1179 l-99 -106 38 -39 c22
                        -22 42 -40 46 -40 3 0 458 465 1010 1032 552 568 1069 1099 1148 1181 l144
                        148 -38 39 c-22 22 -44 40 -50 39 -5 0 -480 -484 -1055 -1075z"/>
                        </g>
                        </svg>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
<%
=begin%>
 <div class="smoke-wrapper">
    <svg class="smoke">
        <defs>
            <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%"   stop-color="white"/>
            <stop offset="100%" stop-color="black"/>
            </linearGradient>
        </defs>

        <path stroke-width="2px" stroke="url(#linear)" class="smoke-path" d="M20,20"></path>
    </svg>
</div>



<script>
    function sine() {
        let xs = [];
        for (let i = 0; i < 50; i++) {
            xs.push(i);
        }

        let t = 0;
        function animate() {
            let points = xs.map(x => {
            let y = 100 + 2 * Math.sin(x/5  +t/10)
            return [y,x];
            });
            let path = "M" + points.map(p => {
            return p[0] + "," + p[1];
            }).join(" L")
            document.querySelector(`.smoke-path`).setAttribute("d", path);
        

            t += 0.3;

            requestAnimationFrame(animate);

        }
        
        animate();
    }
    sine();
    let project1 = document.querySelector("#project1");
    let smoke = document.querySelector(".smoke-wrapper") 
    let fire = document.querySelector(".flame-wrapper")
    project1.addEventListener('click', function() {
        if (smoke.style.visibility === "visible") {
            smoke.style.visibility = "hidden";
            fire.style.visibility = "visible";
        } else {
            smoke.style.visibility = "visible";
            console.log(fire.style.visibility);
            fire.style.visibility = "hidden";
        }
    })
</script> 
<%
=end%>

<%= javascript_pack_tag 'projects' %>
