// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    font-family: Arial;

}

body {
    height: 100vh;
    margin: 0;
}

.page-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .large-box {
        height: 320px;
        width: 320px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .small-box {
            position: absolute;
            height: 130px;
            width: 130px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            .smallest-box {
                color: #4e4e4e;
                display: block;
                height: 90%;
                width: 90%;
                text-align: center;
                margin-top: 20%;
                .link-box {
                    margin-top: 20px;
                    .resume-link-container {
                        display: inline-block;
                        border-bottom: 2px solid #fed700;
                        margin-top: 10px;
                        .resume-link  {
                            text-decoration: none;
                            color: #4e4e4e;
                        }
                    }
                    .resume-link-container:hover {
                        border-bottom: 2px solid #daa520;
                    }
                    .projects-link-container {
                        display: inline-block;
                        border-bottom: 2px solid #fed700;
                        .projects-link {
                            text-decoration: none;
                            color: #4e4e4e;
                        }
                    }
                    .projects-link-container:hover {
                        border-bottom: 2px solid #daa520;
                    }
                }
            }
        }
    }
    .container {
        width: 100%;
    }
}

.svg {
    width: 100%;
    margin-bottom: -10px;
    margin-top: 150px;
}


.bottom {
    margin-top: -10px;
    width: 100vw;
    height: 32vh;
    background-color: #2A317A;
}

.top {
    height: 25vh;
    width: 100vw;
    background-color: #3A43AF;
    position: absolute;
}

.moby {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.2em;
    color: white;
    position: absolute;
    top: 30vh;
    width: 75%;
    left: 2vw;
    line-height: 25px;
}

.wavy {
    position: absolute;
    height: 320px;
    width: 320px;
    top: -24vh;
    z-index: 1;
}

.wavy-path {
    stroke: #fed700;
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;
}

.swords-svg path {
    stroke: white;
    stroke-width: 40px;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 80;
    stroke-dashoffset: 1000;
    animation: dash 5s linear backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

.svg-container {
    position: relative;
}

.home-and-download {
    height: 70px;
    display: flex;
    justify-content: row;
}

.home-link {
    text-decoration: none;
    color: #4e4e4e;
    display: flex;
    align-items: center;
}

.home div {
    border: 2px solid #4e4e4e;
    padding: 5px 10px 5px 10px;
}

.home div:hover {
    box-shadow: 2px 2px#daa521;
    cursor: pointer;
}

.download-link {
    text-decoration: none;
    color: #4e4e4e;
    display: flex;
    align-items: center;
}

.download {
    margin-left: 12px;
}

.download div {
    border: 2px solid #4e4e4e;
    padding: 5px 10px 5px 10px;
}

.download div:hover {
    box-shadow: 2px 2px#daa521;
    cursor: pointer;
}

.page-div {
    font-family: arial;
    color: #4e4e4e;
    max-width: 70%;
    margin: auto;
}

.title-and-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.name-and-title {
    border: 2px solid #4e4e4e;
    padding: 6px 12px 6px 12px;
    box-shadow: 4px 3px#daa521;
}

.name {
    font-size: 1.6em;
    font-weight: 700;
}

.title {
    font-size: 1em;
    margin-top: 5px;
    font-weight: 700;
}

.contact-sheet {
    border: 2px solid #4e4e4e;
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    padding: 0px 5px 0px 5px;
    height: 30px;
    box-shadow: 4px 3px #fed700;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: #4e4e4e;
    // width: 23%;
}

.link-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.link-wrapper:hover {
    border-bottom: 2px solid #fed700;

}

.contact-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.technologies-page-break {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .technologies {
        font-size: 1.3em;
        font-weight: 800;
        border: 2px solid #4e4e4e;
        padding: 3px 4px 3px 4px;
        box-shadow: 3px 3px #daa520;
    }
    .page-break {
        width: 80%;
        height: 4px;
        background-color: #4e4e4e;
        margin-top: 12px;
    }
}

.technologies {
    margin-top: 15px;
    .proficient {
        margin-bottom: 10px;
        display: flex;
        justify-content: row;
        .highlight {
            background-color: #fafad2;
            margin-right: 5px;
            height: 17px;
        }
    }
    .knowledgeable {
        margin-bottom: 10px;
        display: flex;
        justify-content: row;
        .highlight {
            background-color: #fafad2;
            margin-right: 5px;
            height: 17px;
        }
    }
}

.projects-page-break {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .projects {
        font-size: 1.3em;
        font-weight: 800;
        border: 2px solid #4e4e4e;
        padding: 3px 4px 3px 4px;
        box-shadow: 3px 3px #daa520;
    }
    .page-break {
        width: 80%;
        height: 4px;
        background-color: #4e4e4e;
        margin-top: 12px;
    }
}

.projects {
    margin-top: 15px;
    .project-title {
        display: inline-block;
        font-size: 1.2em;
        font-weight: 600;
        border-bottom: 2px solid #fed700;
    }
    .project-list {
        font-size: 0.9em;
        li {
            margin-bottom: 5px;
        }
    }
}

.employment-page-break {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .employers {
        font-size: 1.3em;
        font-weight: 800;
        border: 2px solid #4e4e4e;
        padding: 3px 4px 3px 4px;
        box-shadow: 3px 3px #daa520;
    }
    .page-break {
        width: 80%;
        height: 4px;
        background-color: #4e4e4e;
        margin-top: 12px;
    }
}

.bold {
    font-weight: 600;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .projects-container {
        width: 624px;
        .home-button {
            text-decoration: none;
            color: #4e4e4e;
            border-bottom: 2px solid #fed700;
        }
        .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: row;
            .project-container {
                #project1 {
                    .flame-wrapper {
                        // position: absolute;
                        // left: -192px;
                        // top: -150px;
                        position: absolute;
                        left: 20px;
                        top: 10px;
                    }
                    display: block;
                    position: relative;
                    // display: flex;
                    // justify-content: center;
                    // align-items: flex-end;
                    .stove-wrapper {
                        position: absolute;
                        top: 40px;
                        img {
                            
                            // position: absolute;
                            // top: -160px;
                            // left: -100px;
                            // z-index: 1;
                        }
                    }
                }
                #project3 {
                }
                display: flex;
                .project {
                    margin: 0px 8px 8px 0px;
                    width: 200px;
                    height: 200px;
                    background-color: #cecec3;
                    transition: background-color 0.2s ease;
                }
                .block {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    color: #4e4e4e;
                    .block-text {
                        color: #4e4e4e;
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .code-links {
                            width: 60%;
                            display: flex;
                            justify-content: space-between;
                            a {
                                text-decoration: none;
                                color: #4e4e4e;
                                border-bottom: 1px solid #fed700;
                            }
                        }

                    }
                    .title {
                        color: #4e4e4e;
                        font-weight: 100;
                    }
                    mark {
                        background-color: lightgoldenrodyellow;
                    }
                    
                    width: 200px;
                    height: 196px;
                    // padding-left: 15px;
                    background-color: white;
                    border: 2px solid #cecec3;
                    margin-right: 8px;
                    transition: border-color 0.2s ease;
                }
                .hover-box:hover {
                    background-color: #daa520;  
                }
                .hover-box:hover ~ div {
                    border-color: #daa520;
                }
                .project:hover {
                    cursor: pointer;
                }
            }
            .project-container:hover .project {
                background-color: #daa520;
            }
            .project-container:hover .block {
                border-color: #daa520;
            }
        }
    }
}

.grid {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    .grid-col {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 50px;
        margin-left: 12px;
        .grid-el {
            background-color: #eee8aa;
            border: 2px solid rgba(0,0,0,.1);
            // background: linear-gradient(#eee8aa, #fed700);
            width: 20px;
            height: 20px;
            margin-top: 20px;
            border-radius: 10%;
        }
    }
}
.flame-wrapper {
    position: relative;
    margin-left: 50%;
    margin-top: 20%;
    animation: flicker 750ms ease-in infinite;
}
@keyframes flicker {
    0% { transform: rotate(-1deg); }
    20% { transform: rotate(2deg)  scaleY(1.05) }
    40% { transform: rotate(-1deg); }
    60% { transform: rotate(1deg); }
    80% { transform: rotate(-1deg)  scaleY(0.90) }
    100% { transform: rotate(1deg); }
}
.flame {
    position: absolute;
    bottom: 0;
    border-radius: 50% 0 50% 0;
    transform: rotate(-45deg);
}
.red {
    width: 10px;
    height: 10px;
    background: orangered;
    box-shadow: 0px 0px 1.25px 0.625px orangered;
}
.orange {
    width: 7.5px;
    height: 7.5px;
    left: 1.25px;
    background: orange;
    box-shadow: 0px 0px 1.5px 0.75px orange;
}
.gold {
    width: 5.625px;
    height: 5.625px;
    left: 2.2px;
    background: gold;
    box-shadow: 0px 0px 1.12px 0.5px gold;
}
.white {
    width: 4.4px;
    height: 4.4px;
    left: 2.8px;
    background: lightyellow;
    box-shadow: 0px 0px 1.12px 0.5px lightyellow;
}
.blue {
    width: 1.88px;
    height: 1px;
    left: 4px;
    background: darkblue;
    box-shadow: 0px 0px 1.25px 1.25px darkblue;
}
.black {
    width: 1.25px;
    height: 1.25px;
    left: 4.4px;
    bottom: -1.25px;
    background: black;
    box-shadow: 0px 0px 1px 0.5px black;
}
.base {
    border-radius: 50%;
    position: absolute;
}


.smoke-wrapper {
    visibility: hidden;
    position: absolute;
    left: 433px;
    top: 80px;
    .smoke-path {
        // stroke: black;
        fill: none;
    }
}


